#article:only-child{
    color: #000000;
    font-weight: normal;
}
.main{
    padding-top: 4px;
    display: grid;
    grid-template-columns: 1fr 880px 1fr;
}
@media (min-width: 720px) and (max-width:1200px) {
    .main{
        grid-template-columns: 1fr minmax(680px, 880px) 1fr;
    }
}
@media (min-width: 0px) and (max-width: 719px) {
    .main{
        grid-template-columns: 1fr minmax(400px, 679px) 1fr;
    }
}
.mainarticle{
    padding: 6% 10%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.space{
    width: 5px;
}
h1{
    margin: 0px;
}
h2{
    margin: 0px;
}
h3{
    margin: 0px;
}
h4{
    margin: 6px 0px;
}
h5{
    margin: 0px;
}
p{
    margin: 0px;
}
.about{
    display: flex;
    flex-direction: row;
    width: 300px;
    justify-content: center;
    padding: 10px 0px;
}
.about p{
    font-family: 'MyWebFont', Arial, sans-serif; 
    font-size: 0.8em;
    color: #666666;
}
.text{
    padding: 2%;
}
.text img{
    display: block;
    object-fit: cover;
    max-width: 100%;
    height: auto;
}
#beataimg{
    width: 60px;
    height: 60px;
    border-radius:50%;
    background-color: gold;
    background-image: url(../image/beataimg.png);
    background-size: auto 100%;

}
.p0{
    font-size: 1em;
    color: #333333;
    font-family: "pingfang";
    font-weight: normal;
    margin: 6px 0px;
    padding-left: 20px;
}
.p1{
    font-size: 0.8em;
    text-decoration: none;
    color: #999999;
    font-family: "pingfang";
    font-weight: lighter;
    margin: 2px 0px;
    padding-left: 20px;
}
.aboutme{
    border: solid 1px #999999;
    padding: 20px;
    margin: 40px 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
#aboutmebox{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.share{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.sharelink{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-right: 20px;
}
.sharelink img{
    width: 20px;
    height: 20px;
    padding-left: 10px;
}