h1{
    margin: 0px;
}
h2{
    margin: 0px;
}
h3{
    margin: 0px;
}
h4{
    margin: 6px 0px;
}
h5{
    margin: 0px;
}
p{
    margin: 0px;
}
.p2{
    font-style:italic;
}
.p3{
    text-decoration:underline
}