#home:only-child{
    color: #000000;
    font-weight: normal;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
}
#likeit{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#lottie{
    width:100%;
    height:80%;
    display:block;
    overflow: hidden;
    transform: translate3d(0,0,0);
    text-align: center;
    opacity: 1;
}
.card{
    width: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: #DBDBDB solid 1px;
    box-shadow: 0 8px 16px rgba(0,0,0,.02);
}
#welcomeimg{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10px;
}
.card img{
    width: 80px;
    height: 80px;
}
.card figcaption{
    color: #999999;
    font-family: "pingfang";
    font-weight: lighter;
    font-size: 0.4em;
    padding-top: 10px;
}
button{
    background-color: #e7e7e7;
    border: none;
    color: black;
    width: 80px;
    height: 40px;
    padding: 10px 15px;
    margin: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 8px;
}
#animation{
    width: 80px;
    height: 80px;
    overflow: hidden;
    transform: translate3d(0,0,0);
    padding-bottom: 10px;
}
#welcomewords{
    padding: 10px;
}
#welcomewords h1{
    color: #F53131;
}
#welcomewords h2{
    color: black;
}
#welcomewords a{
    text-decoration: none; 
    color: #FCC1C1;
}


